* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #0b192f;
  font-weight: 100;
}
header {
  width: 80%;
  background-color: #162b4d;
  margin-bottom: 30px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  height: 60px;
}
.logo {
  padding: 20px;
  font-size: 24px;
}
.logo span {
  color: #b32858;
}
.nav-button {
  display: none;
}
.header-nav a {
  display: inline-block;
  color: #fff; 
  padding: 10px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.header-nav a:hover {
  color: #b8b8b8;
  background-color: rgba(255, 255, 255, 0.2);
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 80%;
  box-sizing: border-box;
}
.post-block {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.post-1 {
  background: #B71757;
}
.post-2 {
  background: #0D7E71;
}
.post-3 {
  background: #b1660e;
}
.post-4 {
  background: #d12767;
}
.post-5 {
  background: #2d95bb;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
article:nth-of-type(2n) .post-text {
  order: -1;
}
article:nth-of-type(2n) .post-text .time {
  order: -1;
}
 article:nth-of-type(2n) .post-text .text {
  text-align: right;
  padding-right: 20px;
}
article:nth-of-type(2n) .post-text .text h2 {
  margin-left: 10%;
}
.post-image {
  display: block;
  height: 400px;
  width: 50%;
}
.post-image:hover {
  opacity: 0.4;
}
.post-image a {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#post1{
  background: url(../img/post1.jpg) no-repeat;
  background-size: cover;
}
#post2 {
  background: url(../img/post2.jpg) no-repeat;
  background-size: cover;
}
#post3 {
  background: url(../img/post3.jpg) no-repeat;
  background-size: cover;
}
#post4 {
  background: url(../img/post4.jpg) no-repeat;
  background-size: cover;
}
.post-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
.text h2:hover {
  opacity: 0.4;
  cursor: pointer;
}
.text a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.blog-no-image {
  width: 100%;
}
.blog-no-image .text {
  padding: 20px;
}
.blog-no-image .text h2 {
  width: 100%;
}
.text {
  box-sizing: border-box;
  padding: 30px;
}
.text h2 {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 300;
}
.text p {
  font-size: 16px;
   opacity: 0.4;
}
.time {
  text-align: center;
  align-self: flex-start;
  color: rgba(255, 255, 255, 0.2);
  width: 25%;
  padding: 20px;
}
.number {
  display: block;
  font-size: 40px;
}
.blog {
  width: 25%;
}
.news {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  background-color: #fff;
  margin-bottom: 20px;
}
.news-img {
  width: 100%;
  height: 200px;
}
#news1 {
  background: url(../img/news1.jpg) no-repeat;
  background-size: cover;
}
#news2 {
  background: url(../img/news2.jpg) no-repeat;
  background-size: cover;
}
.news-text {
  padding: 20px;
}
.news-text h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}
.news-text p {
  line-height: 16px;
  line-height: 1.5;
}
footer {
  width: 80%;
  background-color: #162b4d;
  padding: 10px;
  color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 5px;
}
.footer-content .design {
  display: block;
  width: 15%;
}

@media(max-width: 768px) {
  header {
    text-align: center;
    height: 100px;
  }
  .content {
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  }
  .header-nav a {
    display: none;
  }
  footer, header, main {
    width: 95%;
  }
  .header-nav {
    order: -1;
  }
  .nav-button {
    display: flex;
    font-size: 10px;
    color: #fff;
  }
  .post-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .post-image {
    display: block;
    width: 100%;
    height: 300px;
  }
  .post-text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .time {
    align-self: center;
    width: 25%; 
  }
  article:nth-of-type(2n) .post-text {
    order: 0;
  }
  article:nth-of-type(2n) .post-text .time {
    order: 0;
  }
  article:nth-of-type(2n) .post-text .text {
    text-align: left;
  }
  article:nth-of-type(2n) .post-text .text h2 {
    margin-left: 0;
  }
  .blog {
    width: 50%;
  }
  h2 {
    font-size: 24px;
    width: 100%;
  }
  .news-img {
    height: 200px;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  .news-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer-content {
    text-align: center;
    flex-direction: column;
  }
  .footer-content .design {
    width: 25%;
  }
}

@media(max-width: 480px) {
  main {
    flex-direction: column;
  }
  .blog {
    width: 95%;
  }
  .post-block {
    width: 95%;
  }
  .post-image {
    display: block;
    width: 95%;
    height: 300px;
  }
  .news-img {
    height: 200px;
  }
  .footer-content .design {
    width: 30%;
  }
}