$headerBackground: url(../img/m-h-night.jpg);
$backgroundColor:#2d303d;
$cardColor: #363a4c;
$cardTextColor: white;
$fontHeaderColor: white;
$gradient: linear-gradient(to right, rgb(231, 173, 0) 23%,rgb(255,101,93) 100%);
$underTextColor: rgb(255,101,93);
$buttonColor: rgb(231, 173, 0);
$buttonTextColor: white;