$headerBackground: url(../img/m-h-day.jpg);
$backgroundColor: white;
$cardColor: #383c4c;
$cardTextColor:white;
$gradient: linear-gradient(to right, rgb(75, 150, 0) 23%,rgb(20, 26, 206) 100%);
$fontHeaderColor: #333745;
$underTextColor: rgb(124, 191, 233);
$buttonColor: rgb(75, 150, 0);
$buttonTextColor: white;
